<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container m-5">
        <div class="card mx-auto" style="width: 300px">
            <img src="{{employee.photo.url}}" class="card-img-top" alt="">
         <p class="card-text m-1">{{employee.first_name}} {{employee.last_name}}</p>
         <p class="card-text m-1">{{employee.designation}}</p>
         <p class="card-text m-1">{{employee.email_address}}></p>
         <p class="card-text m-1">{{employee.phone_number}}></p>
         <a href="{% url "home" %}" class="btn btn-primary">Back To Home</a>
        </div>
    </div>
</body>
</html> 